<div class="resumen col-md-7">
    <div class="img">
        <img src="../../../assets/casey-horner-353940-unsplash.jpg" alt="">
    </div>
    <div class="texto">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, sapiente! Impedit animi, officia provident voluptates maxime ipsam incidunt sit laboriosam!</p>
    
    <button>+</button>
    <input type="text">
    <button>-</button>
    </div>
</div>

<div class="resumen col-md-7">
    <div class="img">
        <img src="../../../assets/casey-horner-353940-unsplash.jpg" alt="">
    </div>
    <div class="texto">
  
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, sapiente! Impedit animi, officia provident voluptates maxime ipsam incidunt sit laboriosam!</p>
  
 <button>+</button>
<input type="text">
<button>-</button>
  </div>
</div>
  
  <div class="resumen col-md-7">
    <div class="img">
        <img src="../../../assets/casey-horner-353940-unsplash.jpg" alt="">
    </div>
    <div class="texto">
  
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, sapiente! Impedit animi, officia provident voluptates maxime ipsam incidunt sit laboriosam!</p>
  
 <button>+</button>
<input type="text">
<button>-</button>
  </div>
 
